body {
  width: auto;
}

/****Header****/
header {
  border-bottom: solid 10px #efefef;
  padding-bottom: 3%;
  width: 90%;
  margin: auto;
}

h1 {
  font-family: 'Yellowtail', cursive;
  font-size: 5em;
  margin-bottom: 0;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: .6em;
  text-transform: uppercase;
  margin-top: 0;
}

#logo {
  width: 110px;
  float: left;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 25%;
}

.logo-block {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#social-icons-block {
  text-align: center;
}

.social-icons {
  display: inline-block;
  width: 70px;
}

/**Section**/
section {
  margin-left: 5%;
  margin-right: 5%;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-size: 6em;
  margin-bottom: 0;
}

h4 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #797a7b;
  font-size: .7em;
  text-transform: uppercase;
  margin-top: 0;
}

.choco-pizza-image {
  width: 90%;
  margin: auto;
}

p {
  font-family: 'Lora', serif;
  font-size: 14px;
  text-indent: 5%;
  color: #797a7b;
  margin-top: 2.5em;
}

/*Recipe*/

#shopping-list {
  background: url("images/list-bg.png");
  background-repeat: repeat-y;
  background-size: cover;
  padding: 15% 20%;
}

li {
  font-family: 'Coming Soon', cursive;
  font-size: 2em;
  line-height: 1;
  list-style: none;
}

li::before {
  content: '☐ ';
}

.selected {
  text-decoration: line-through;
}

.selected::before {
  content: '☑ ';
}

/*Author*/

h5 {
  font-family: 'Lora', serif;
  font-size: 1.5em;
  margin-bottom: 0;
}

#author {
  border-bottom: solid 10px #efefef;
  padding: 3%;
  width: 95%;
  margin: auto;
  border-top: solid 10px #efefef;
}

#author img {
  float: left;
  width: 150px;
  margin: 3% 3% 1% 0;
}

#author p {
  text-indent: 0;
}

button {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4em;
  text-transform: uppercase;
  background-color: #ba7155;
  color: #ffffff;
  margin: auto;
  width: 100%;
  text-align: center;
  padding: .4em;
  display: inline-block;
}

/*Footer*/

footer {
  text-align: center;
  margin: 5%;
}

#logo-line {
  display: block;
  overflow: hidden;
  text-align: center;
  margin-bottom: 3%;
}

#logo-line:before,
#logo-line:after {
  content: " ";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  height: 1px;
  border-top-style: solid;
  border-top-width: 1px;
}

#logo-line:before {
  right: 0.5em;
  margin-left: -50%;
}

#logo-line:after {
  left: 0.5em;
  margin-right: -50%;
}

#logo-line img {
  vertical-align: middle;
  width: 100px;
}

small {
  font-family: 'Lora', serif;
  color: #aeb0b2;
}

/******************************
MEDIA QUERIES
*********************************/

@media only screen and (min-width: 1000px) {
  /**header**/
  header:after {
    content: '';
    display: table;
    clear: both;
  }
  #logo {
    display: inline-block;
    margin-top: 10%;
  }
  h1 {
    font-size: 2.5em;
    text-align: left;
    display: inline-block;
  }
  h3 {
    font-size: 3em;
  }
  #logo-block {
    float: left;
    width: 30%;
  }
  #logo {
    width: 70px;
    margin-left: 0;
  }
  #social-icons-block {
    float: right;
    clear: left;
    position: absolute;
    right: 5.5%;
    top: 10%;
  }
  #social-icons-block img {
    width: 25px;
  }
  #printer {
    float: right;
  }
  #printer::before {
    content: url('images/print-icon.png') ' ';
  }
  .choco-pizza-image {
    width: 100%;
  }
  #shopping-list {
    padding: 5%;
  }
  .clearfix {
    overflow: auto;
  }
  .clearfix:after {
    content: '';
    display: table;
    clear: right;
  }
  .left-list {
    float: left;
  }
}
